<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
<<<<<<< HEAD
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">FOOD TRUCK FRENZY</a>
    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">HOME
            PAGE</a>
			
			<div class="container register-form">
						<div class="form">
							<div class="note">
								<p>Register Here!</p>
							</div>
							<div class="form-content">
								<div class="row">
									<div class="col-md-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Your Username *" value=""/>
										</div>
										
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Your Password *" value=""/>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div> <!-- form-group// -->                                      
    <div class="form-group">

		
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="/">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

<section class="page-section" id="contact">
    <div class="container">
      <!-- Contact Section Heading-->
      <div class="text-center">
        <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
      </div>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Content-->
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
            <div class="text-muted">Phone</div>
            <div class="lead font-weight-bold">(555) 555-5555</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
            <div class="text-muted">Email</div><a class="lead font-weight-bold"
              href="mailto:thefoodie@foodtruckfrenzy.com">thefoodie@foodtruckfrenzy.com</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="mb-4">LOCATION</h4>
          <p class="pre-wrap lead mb-0">123 Roaming Foodie, UT 84101</p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"
            href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a
            class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i
              class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"
            href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a
            class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i
              class="fab fa-fw fa-dribbble"></i></a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4">
          <h4 class="mb-4">ABOUT FOOD TRUCK FRENZY</h4>
          <p class="pre-wrap lead mb-0">Food Trucks add their truck, menu and locations. Users can search for food trucks in their area.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Copyright Section-->
  <section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Food Truck Frenzy 2020</small></div>
  </section>
=======
	<div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">FOOD TRUCK FRENZY</a>
		<button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
			data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
						href="/">HOME
						PAGE</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container register-form">
	<div class="form">
		<div class="note">
			<p>Register</p>
		</div>
		<div class="form-content">
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Your Username *" value="" />
					</div>

				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Your Password *" value="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary btn-block"> Create Account </button>
</div>
<p class="text-center">Have an account? <a href="/">Log In</a> </p>
</div>
<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="mb-4">LOCATION</h4>
				<p class="pre-wrap lead mb-0">123 Roaming Foodie, UT 84101</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"
					href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a
					class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i
						class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"
					href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a
					class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i
						class="fab fa-fw fa-dribbble"></i></a>
			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h4 class="mb-4">ABOUT FOOD TRUCK FRENZY</h4>
				<p class="pre-wrap lead mb-0">Food Trucks add their truck, menu and locations. Users can search for food
					trucks in their area.</p>
			</div>
		</div>
	</div>
</footer>
>>>>>>> f91205c019bb85121e61a7716cc2bc7281ca7b9f
